	/* {
		# grey: 576675 #
	}
	{
		# green: 667557 #
	}
	{
		# purple: 665775 #
	} */



	* {
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
		-webkit-tap-highlight-color: rgba(0,0,0,0);

	}

	body {
		/* background-color: #665775; */
		font-family: Ubuntu, "times new roman", times, roman, serif;
		margin: 0% 2% 2% 2%;
		overflow: hidden;
		transition: all 0.5s ease;

		/* --primaryColor: #665775;
		--secondaryColor: #576675;
		--accentColor: #667557;		 */
		--primaryColor: #000000;
		--secondaryColor: #ffffff;
		--accentColor: #667557;
		background-color: var(--primaryColor);
	}


.palette > div {
	width: 20px;
	height: 20px;
	background-color: var(--color);
	margin: 2px;
  }
  .palette > div::after {
	content: attr(color);
	font-family: monospace;
	margin-left: 24px;
	white-space: nowrap;
  }

	.playlistBuilder {
		background-color: #576675;
		border-radius: 0px 0px 20px 20px;
		height: 80%;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		padding: 5px;
		position: relative;
		top: 0px;
		z-index: 999;
		transition: all 0.5s ease;

	}

	.playlistBuilderHidden {
		-webkit-transform: translateY(-90%);
		-ms-transform: translateY(-90%);
		transform: translateY(-90%);

	}

	.queueContainer {
		background-color: #576675;
		border-radius: 20px 20px 0px 0px;
		height: 80%;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		padding: 38px 5px 1px 5px;
		position: relative;
		bottom: 65%;
		z-index: 999;
		transition: all 0.5s ease;
	}

	.queueContainerHidden {
		-webkit-transform: translatey(80%);
		-ms-transform: translateY(80%);
		transform: translateY(90%);

	}

	#queueContainerContent {
		overflow: auto;
		padding-top: 5%;
	}

	.handle {
		cursor: grab;
		z-index: 9999999999;
		min-width: 8vw;
		float: right;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.builderToggleContainer {
		position: absolute;
		bottom: 0;
		width: 95%;
	}

	/* Important styles */
	.toggle {
		float: right;
		/* position: absolute;
		bottom:-10px;
		right:15px;
		display: block; */
		width: 28px;
		height: 30px;
		margin: 30px auto 10px;
	}

	.queueToggleContainer {
		position: absolute;
		top: 0;
		width: 95%;
	}

	.toggle#queuetoggle {
		float: right;
	}

	.toggle span:after,
	.toggle span:before {
		content: "";
		position: absolute;
		left: 0;
		top: -9px;
	}

	.toggle span:after {
		top: 9px;
	}

	.toggle span {
		position: relative;
		display: block;
	}

	.toggle span,
	.toggle span:after,
	.toggle span:before {
		width: 100%;
		height: 5px;
		background-color: #665775;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 2px;
	}

	/* on activation */
	.toggle.on span {
		background-color: transparent;
	}

	.toggle.on span:before {
		transform: rotate(45deg) translate(5px, 5px);
	}

	.toggle.on span:after {
		transform: rotate(-45deg) translate(7px, -8px);
	}

	/* Style the tab */
	.tab {
		border-radius: 22px;
		background-color: #665775;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		padding: 3px;
	}

	/* Style the buttons inside the tab */
	.tab button {
		border-radius: 22px;

		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		transition: 0.3s;
		font-size: 17px;
	}

	/* Change background color of buttons on hover */
	.tab button:hover {
		background-color: #758267;
	}

	.tablinks {
		font-weight: 500;
	}

	/* Create an active/current tablink class */
	.tab button.active {
		background-color: #667557;
	}

	/* Style the tab content */
	.tabcontent {
		display: none;
		padding: 6px 12px;
		border: 1px solid #576675;
		border-top: none;

		flex-flow: row wrap;
		justify-content: space-evenly;

		max-height: 75%;
		overflow: auto;
	}

	.builderFilter {
		/* flex: 1 1 auto; */
		border-radius: 5px;
		background-color: #665775;
		padding: 0.3em;
		margin: 0.2em;
		font-weight: 400;
	}



	#Mood span {
		font-size: x-large;
		font-weight: 400;
		margin: 0.1em;
		padding: 0.1em;
	}

	.tabcontent .selectedFilter {
		background-color: #667557;
	}

	.player {
		/* position: absolute;
		bottom: 10%;
		left: 1px;
		right: 1px; */
		/* border : 1px solid purple; */
		position: absolute;
		float: left;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		/* height: 85vh; */
		min-width: 95vw;
	}

	#currSongMoodEditor{
		position: relative;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		overflow-y: scroll;
		max-height: 25vh;
		justify-content: space-evenly;
	}

	#currSongMoodEditor::-webkit-scrollbar {
		display: none;
	      }

	.currSongMoodUnq{
		/* flex: 1 1 auto; */
		font-size: x-large;
		margin: 0.1em;
		padding: 0.1em;
		border-radius: 15px;
		background-color: #576675;
		text-align:center;
	}

	.selectedCurrSongMood{
		background-color:var(--accentColor);
		border-radius: 5px;

	}

	.songInfo{
		padding: 5px;
	}

	#coverArtContainer {
		display: flex;
		justify-content: center;
		min-height: 35vh;

	}

	#coverArt {
		width: 35vh;
		height: 35vh;
		object-fit:cover;

	}

	#currentTitleArtistContainer {
		display: flex;
		flex-flow: column nowrap;
		align-items: center
	}

	#playerBar {
		min-height: 2px;
		/* border: 1px solid green; */
		margin: 10px 10px 10px 10px;

	}

	.playerControlContainer {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-evenly;
		margin: 10px 10px 10px 10px;
	}

	.hiddenWhileLoad {
		display: none;
	}

	#html5audio {
		display: block;
		position: absolute;
		float: left;
		left: 50%;
		top: 60%;
		transform: translate(-50%, -50%)
	}

	.queue_song {
		border: 1px solid grey;
		padding: 5px 5px 5px 5px;
		margin: 5px 5px 5px 5px;
		min-width: 90vw;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}

	.playingSong {
		background-color: var(--accentColor);
	}

	.iframemodal {
		height: 70vh;
		width: 88vw;
		position: absolute;
		float: left;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 99999;
	}

	.modalExtBackground {
		display: none;
		position: absolute;
		left: 0%;
		top: 0%;
		width: 200vw;
		height: 200vw;
		z-index: 99998;
	}


	/* INFO EDIT */

	hr {
		border: 0;
		height: 1px;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	}

	.editInfoContainer {
		background-color: var(--secondaryColor);
		border-radius: 10%;
		/* border: 1px gold; */
		display: none;
		position: absolute;
		float: left;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		/* height: 85vh; */
		min-width: 92vw;
		min-height: 50vh;
		z-index: 99999;
	}
	.formContainer {
		display: flex;
		position: absolute;
		float: left;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		flex-flow: column nowrap;
		justify-content: space-evenly;
		min-width: 95%;
	}

	.edit-info {
		width: 90%;
	}

	#infoCreateForm {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: nowrap;
		/* border : 5vh solid var(--accentColor); */

	}

	.moods-container {
		flex-flow: row nowrap;
		/* overflow: auto; */
		display: grid;
		/* grid-template-rows: auto auto;1 */
		grid-auto-flow: column;
		overflow-x: scroll;
		-ms-overflow-style: none;
		padding-inline-start: 0;
		grid-template-rows: auto auto;
		grid-auto-flow: column;
	}

	.mood-container::-webkit-scrollbar {
		display: none;
	}

	ul.ks-cboxtags {
		list-style: none;
		padding: 20px;
	}

	ul.ks-cboxtags li {
		display: inline;
	}

	ul.ks-cboxtags li label {
		display: inline-block;
		/*background-color: rgba(255, 255, 255, .9);*/
		background-color: var(--secondaryColor);
		color: #adadad;
		border-radius: 25px;
		white-space: nowrap;
		margin: 3px 0;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: transparent;
		transition: all 0.2s;
	}

	ul.ks-cboxtags li label {
		padding: 4px 6px;
		cursor: pointer;
	}

	ul.ks-cboxtags li input[type="checkbox"]:checked+label {
		background-color: var(--accentColor);
		color: #fff;
		transition: all 0.2s;
	}

	ul.ks-cboxtags li input[type="checkbox"] {
		display: absolute;
	}

	ul.ks-cboxtags li input[type="checkbox"] {
		position: absolute;
		opacity: 0;
	}

	.form__group {
		position: relative;
		padding: 15px 0 0;
		margin-top: 10px;
		width: 90%;
	  }
	  
	  .form__field {
		font-family: inherit;
		width: 100%;
		border: 0;
		border-bottom: 2px solid #9b9b9b;
		outline: 0;
		font-size: 1.3rem;
		color: #fff;
		padding: 7px 0;
		background: transparent;
		transition: border-color 0.2s;
	  }
	  .form__field::placeholder {
		color: transparent;
	  }
	  .form__field:placeholder-shown ~ .form__label {
		font-size: 1.3rem;
		cursor: text;
		top: 20px;
	  }
	  
	  .form__label {
		position: absolute;
		top: 0;
		display: block;
		transition: 0.2s;
		font-size: 1rem;
		color: #9b9b9b;
	  }
	  
	  .form__field:focus {
		padding-bottom: 6px;
		font-weight: 700;
		border-width: 3px;
		border-image: linear-gradient(to right, #11998e, #38ef7d);
		border-image-slice: 1;
	  }
	  .form__field:focus ~ .form__label {
		position: absolute;
		top: 0;
		display: block;
		transition: 0.2s;
		font-size: 1rem;
		color: #11998e;
		font-weight: 700;
	  }
	  
	  /* reset input */
	  .form__field:required, .form__field:invalid {
		box-shadow: none;
	  }
	  
	  /* demo */
	  /* body {
		font-family: "Poppins", sans-serif;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		font-size: 1.5rem;
		background-color: #222222;
	  } */

/* The value content-box tells the div to place any border on the outside, increasing the width or height. If we change this value to border-box, the border is added to the inside of the box. */
.playbutton {
	box-sizing: border-box;
	width: 0;
	height: 74px;
	border-style: solid;
	border-width: 37px 0 37px 60px;
	border-color: transparent transparent transparent #202020;
	cursor: pointer;
	will-change: border-width;
	transition: all 0.2s ease;
  }
  .playbutton.playing {
	border-style: double;
	border-width: 0px 0 0px 60px;
  }
  .playbutton:hover {
	border-color: transparent transparent transparent #404040;
  }

  .arrow {
	position: relative;
	display: inline-block;
	margin: 20px;
	padding: 25px;
	box-shadow: 15px -15px 0 0 #202020 inset;
  }
  .arrow--left {
	transform: rotate(45deg);
	left: 25px;
  }
  .arrow--right {
	transform: rotate(225deg);
	right: 25px;
  }
  .arrow--up {
	transform: rotate(135deg);
	top: 25px;
  }
  .arrow--down {
	transform: rotate(-45deg);
	bottom: 25px;
  }