body {
	font-family: "Avenir", sans-serif;
	transition: background-color .5s;
	background-color: lightgrey;
	font-size: 22px;
}

/* .navigator-cover { */
	/* width: 25%; */
/* } */

.navigator {
	border : 1px solid red;
}
