<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon"/>

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

		<script src="/jsmediatags.min.js"></script>
		<script src="/player.js"></script>
		<script src="/import.js"></script>
		<link rel="manifest" href="/manifest.json">

		<style>
			body {
				font-family: Ubuntu, "times new roman", times, roman, serif;
				background-color: lightgrey;
				font-size: 22px;
			}

		</style>
		{# Run `composer require symfony/webpack-encore-bundle`
				           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body onload="initPage()">
		<header>
			<span>
				<h1>Banana</h1>
				<span id='menu'></span>
				<a href='/' class='link' id='homeLink'>Home</a>
				<a href='/import/' class='link' id='importLink'>Import Songs</a>
				<a href='/library' class='link' id='musicLink'>Library</a>
				<a href='/player' class='link' id='playerLink'>Player</a>

			</span>
		</header>
		{% block body %}{% endblock %}



	</body>
</html>
