<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <style>
            body {
                font-family: Ubuntu, "times new roman", times, roman, serif;
                background-color: lightgrey;
                font-size: 22px;
                }
        </style>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <header>
		<span>
			<h1>Banana</h1>
			<span id='menu'>
			</span>
				<a href='/' id='home'>Home</a>
				<a href='/import/v2/' id='importButton'>Import Songs</a>
				<a href='/music' id='musicButton'>Library</a>
			
		</span>
	</header>
        {% block body %}{% endblock %}
    </body>
</html>
