	/* {
		# grey: 576675 #
	}
	{
		# green: 667557 #
	}
	{
		# purple: 665775 #
	} */



	* {
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}

	body {
		background-color: #665775;
		font-family: Ubuntu, "times new roman", times, roman, serif;
		margin: 0% 2% 2% 2%;
		overflow: hidden;
		transition: all 0.5s ease;
	}

	.playlistBuilder {
		background-color: #576675;
		border-radius:0px 0px 20px 20px ;
		height:80%;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		padding: 5px;
		position: relative;
		top: 0px;
		z-index:999;
		transition: all 0.5s ease;

	}

	.playlistBuilderHidden {
		-webkit-transform: translateY(-90%);
		-ms-transform: translateY(-90%);
		transform: translateY(-90%);

	}

	.queueContainer {
		background-color: #576675;
		border-radius:20px 20px 0px 0px ;
		height:80%;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		padding: 38px 5px 1px 5px ;
		position: relative;
		bottom: 62%;
		z-index:999;
		transition :all 0.5s ease;
	}

	.queueContainerHidden {
		-webkit-transform: translatey(80%);
		-ms-transform: translateY(80%);
		transform: translateY(90%);

	}

	#queueContainerContent{
		overflow:auto;
	}

		/* Important styles */
	.toggle {
		position: absolute;
		bottom:-10px;
		right:15px;
		display: block;
		width: 28px;
		height: 30px;
		margin: 30px auto 10px;
	}

	.toggle#queuetoggle {
		position: absolute;
		top:-10px;
		right:15px;
	}

	.toggle span:after,
	.toggle span:before {
		content: "";
		position: absolute;
		left: 0;
		top: -9px;
	}
	.toggle span:after{
		top: 9px;
	}
	.toggle span {
		position: relative;
		display: block;
	}

	.toggle span,
	.toggle span:after,
	.toggle span:before {
		width: 100%;
		height: 5px;
		background-color: #665775;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 2px;
	}

	/* on activation */
	.toggle.on span {
		background-color: transparent;
	}
	.toggle.on span:before {
		transform: rotate(45deg) translate(5px, 5px);
	}
	.toggle.on span:after {
		transform: rotate(-45deg) translate(7px, -8px);
	}

	/* Style the tab */
	.tab {
		border-radius: 22px;
		background-color: #665775;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		padding: 3px;
	}

	/* Style the buttons inside the tab */
	.tab button {
		border-radius: 22px;

		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		transition: 0.3s;
		font-size: 17px;
	}

	/* Change background color of buttons on hover */
	.tab button:hover {
		background-color: #758267;
	}

	.tablinks {
		font-weight: 500;
	}

	/* Create an active/current tablink class */
	.tab button.active {
		background-color: #667557;
	}

	/* Style the tab content */
	.tabcontent {
		display: none;
		padding: 6px 12px;
		border: 1px solid #576675;
		border-top: none;

		flex-flow: row wrap;
		justify-content: space-evenly;

		max-height : 75%;
		overflow:auto;
	}

	.builderFilter {
		border-radius: 5px;
		background-color: #665775;
		padding: 0.3em;
		margin: 0.2em;
		font-weight: 400;
	}


	
	#Mood span {
		font-size: xx-large;
		font-weight: 500;
		margin: 0.1em;
		padding: 0.1em;
	}

	.tabcontent .selectedFilter {
		background-color: #667557;
	} 

	.player {
		position:absolute;
		top:10%;
		bottom:1px;
		left:1px;
		right:1px;
		border : 1px solid purple;
	}

	#coverArtContainer {
		display:flex;
		justify-content: center;
	}

	#coverArt {
		border: 1px solid  blue;
		width: 95vw;
		/* height: 95vw; */
	}

	#currentTitleArtistContainer {
		display:flex;
		flex-flow: column nowrap;
		align-items: center

	}

	#playerBar {
		min-height: 2px;
		border: 1px solid green;
		margin: 10px 10px 10px 10px;

	}

	.playerControlContainer {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-evenly;
		margin: 10px 10px 10px 10px;
	}

	.hiddenWhileLoad {
		display:none;
	}

	#html5audio{
		display:none;
	}

	.queue_song{
		border : 1px solid grey;
		padding: 5px 5px 5px 5px ;
		margin: 5px 5px 5px 5px ;
		min-width : 90vw;
	}

	.playingSong{
		border: 2px rgb(238, 205, 123) solid;
	}

	.iframemodal{
		height: 70vh;
		width: 88vw;
		position: absolute;
		float: left;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 99999;
	}

	.modalExtBackground{
		position: absolute;
		left: 0%;
		top: 0%;	
		width: 200vw;
		height: 200vw;
		z-index:99998;
	}
